.about-row {
  display: flex;
  align-items: center;
  column-gap: 75px;
  margin-top: 42px;
}

.about-main.container {
  margin-bottom: 140px;
}

.Leftcontent h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: 64px;
  color: #000;
}
.Leftcontent p {
  line-height: 26px;
  font-size: 16px;
}
.secondtext {
  margin-top: 26px;
  line-height: 26px;
  font-size: 16px;
}

.rightPicture {
  min-width: 50%;
}

.statistics-border {
  border-radius: 4px;
  padding: 30px 24px;
  cursor: pointer;
  border: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.radius1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radius2 {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radius2 span {
  color: beige;
  font-size: 30px;
}
.statistics-border h3 {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 600;
  color: #000;
}
.statistics-border p {
  font-size: 16px;
  line-height: 24px;
  color: #252424;
  margin-top: 12px;
  width: 100%;
}

.statistics-border:hover {
  background-color: #db4444;
  box-shadow: #25242431 0px 0px 5px 0px;
}

.statistics-border:hover .radius1 {
  background: #ffffffa1;
}
.statistics-border:hover .radius2 {
  background: #fffefe;
}
.statistics-border:hover .radius2 span {
  color: rgb(15, 15, 15);
}
.statistics-border:hover h3 {
  color: #fff;
}
.statistics-border:hover p {
  color: #fffdfd;
}

.actors.container {
  margin-top: 140px;
}

.actor-holder h3 {
  margin-top: 15px;
}
.actor-holder p {
  margin-top: 5px;
  font-size: 16px;
  line-height: 26px;
  color: #252424;
}
.actor-holder span {
  font-size: 24px;
  color: #000;
  padding-right: 8px;
}

.actor-holder a {
  color: #000;
}

@media (max-width: 767px) {
  .about-row {
    flex-direction: column;
    row-gap: 40px;
  }

  .actors.container {
    margin-top: 70px;
  }

  .Leftcontent h2 {
    font-size: 32px;
  }

  .about-main.container {
    margin-bottom: 70px;
  }
}
