/* Top bar */
.top-announcement {
  background-color: black;
  color: white;
  font-size: 5px;
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
}

.top-announcement p{
width: 100%;
margin-top: 20px;
  text-align: center;
  font-size: 13px;
}


.top-announcement a {
  color: white;
  font-weight: bold;
  margin-left: 5px;
}

.language-select {
  cursor: pointer;
  font-size: 13px;
  margin-left: 40px;
  width: 15%;
  position: relative;
}

.arrow{
  position: absolute;
  bottom: 1.3rem;
  left: 7.5rem;
  font-size: 16px ;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #ddd;
  background-color: white;
  margin: 0 7rem;
}

.navbar__logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar__links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.navbar__links li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.navbar__links li:hover,
.navbar__links li:hover{
text-decoration: underline;
color: #817b7b;
}

.navbar__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar__actions input {
  padding: 8px 12px;
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.for{
  position: relative;

}

.bs{
  position: absolute;
  right: 12px;
  top: 8px;
}

.icons span {
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

