/* Top bar */
.top-announcement {
  background-color: black;
  color: white;
  font-size: 14px;
  line-height: 21px;
  padding: 12px 0;
  display: none;
}

.top-announcement .container {
  display: flex;
  justify-content: end;
}

.top-announcement--inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 859px;
}

.top-announcement a {
  color: white;
  font-weight: bold;
  margin-left: 8px;
}

.language-select {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 11px;
}

/* Navbar */
.navbar {
  border-bottom: 1px solid #ddd;
  background-color: white;
  padding-top: 28px;
  padding-bottom: 16px;
}

.navbar .container {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.navbar__logo {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

.navbar__links {
  display: none;
  gap: 48px;
  list-style: none;
}

.navbar__links li a {
  text-decoration: none;
  color: #000;
  max-height: 24px;
  border-bottom: 1px solid transparent;
}

.navbar__links li a:hover {
  border-bottom: 1px solid #817b7b;
}

.navbar__actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar__actions input {
  padding: 12px 20px;
  max-height: 38px;
  width: 243px;
  border-radius: 4px;
  background-color: #f5f5f5;
  border: none;
  outline: none;
}

.navbar__actions input::placeholder {
  font-family: "Poppins", sans-serif;
}

.for {
  display: none;
  position: relative;
}

.for svg {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (min-width: 768px) {
  .top-announcement {
    display: block;
  }

  .navbar {
    padding-top: 40px;
  }
}

@media (min-width: 992px) {
  .navbar__links {
    display: flex;
  }

  .for {
    display: block;
  }
}
